.ci {
  padding-top: 8%;
  background-color: rgba(201, 200, 200, 0.205);
}

.ci_cards {
  /* margin-top: 5rem; */
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 2rem;
}

.ci .card {
  background-color: #fff;
  border-radius: 2%;
  box-sizing: border-box;
  width: 295px;
  height: 475px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 20px;
  font-family: var(--main-font);
}

.ci .card img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  border: 1px solid #897b7b6f;
}
@media screen and (max-width: 1400px) {
  .ci{
    margin-top: 3%;
  }
  .sampling img{
    height: 250px;
    width: 350px;
  }
  .measures img{
    height: 250px;
    width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .ci {
      padding-top: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .ci{
    padding-top: 20%;
  }
  .ci_cards {
    row-gap: 0px;
  }
}

@media screen and (max-width: 900px) {
  .ci {
      padding-top: 50%;
  }
}