@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800;900&display=swap');

.getinvolved a {
  color: #f05f54;
  text-decoration: none;
}

.getinvolved h2{
  color: #f05f54;
  text-align:start;
  margin-bottom: 30px;
}

.getinvolved h3{
  color: #f05f54;
  text-align:start;
}

.getinvolved p {
  color: #81817d;
  font-size: 17px;
}

.getinvolved li {
  color: #81817d;
  font-size: 17px;
}

.getinvolved {
  padding-top: 8%;
  width: 70%;
  margin: auto;
  line-height: 2.5ch;
  /* text-align: center; */
  font-family: var(--main-font);
  letter-spacing: var(--mainSpacing);
}
.info {
  align-items: center;
  text-align:justify;
}
  
.method {
  display: flex;
  text-align:justify;
  justify-content: space-between;
  gap: 20px;
  /* margin: 50px 325px 25px 325px; */
}
.method img{
  height: 300px;
  width: 300px;
}

.sampling {
  display: flex;
  text-align:justify;
  justify-content: space-between;
  gap: 20px;
}
.sampling img {
  height: 350px;
  width: 550px;
}

.training {
  display: flex;
  text-align:justify;
  justify-content: space-between;
  gap: 20px;
}
.training img {
  height: 300px;
  width: 350px;
}

.measures {
  display: flex;
  text-align:justify;
  justify-content: space-between;
  gap: 20px;
}
.measures img {
  height: 400px;
  width: 550px;
}

.issues  {
  text-align:justify;
}
.quality {
  text-align:justify;
}

.agreement {
  text-align:justify;
}

.budget {
  text-align:justify;
}

.references {
  text-align:justify;
}

.references h2 {
  color: #81817d;
}

.references li {
  color: #81817d;
  list-style-type: none;
}

@media screen and (max-width: 1400px) {
  .info{
    margin-top: 5%;
  }
  .sampling img{
    height: 250px;
    width: 350px;
  }
  .measures img{
    height: 250px;
    width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .info{
    margin-top: 70%;
  }
}