
.publications {
  padding-top: 8%;
}
.all_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  /* margin-top: 4%; */
  padding-bottom: 4%;
}

.pub_item {
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: 1%; */
  padding: 22px;
  width: 40%;
  text-align: justify;
  border: 1px solid white;
  background-color: white;
}

.pub_item p {
  color: #5e5c5cd7;
  margin-top: 22px;
}

.pub_item a:link {
  color: black;
}

.pub_item a:visited {
  color: black;
}

.pub_item h2 {
  color:black;
  text-align: justify;
  font-family: var(--main-font);
  font-size: 20px;
}

.pub_item h2:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  .publications{
    margin-top: 3%;
  }
}

@media screen and (max-width: 1200px) {
  .publications {
    margin-top: 12%;
  }
}

@media screen and (max-width: 900px) {
  .publications{
    margin-top: 45%;
  }
  #logo {
    height: 80px;
    width: 330px;
  }

  .pub_item {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    width: 400px;
  }

  .pub_item:hover {
    transform: scale(1);
  }
}