      .login-form {
        background-color: rgb(240, 235, 235);
        height: 80vh;
      }

      #loginheader {
        filter: brightness(30%);
        height: 180px;
        width: 100%;
      }

      .loginheadernav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 1%;
        left: 3%;
        z-index: 3;
        width: 95%;
      }

      .form-box form {
        background-color: white;
        padding: 20px 50px;
        margin: 30px 0;
        width: 500px;
        height: 420px;
        border-radius: 25px;
        letter-spacing: 1px;
      }

      .form-box {
        display: flex;
        justify-content: center;
      }

      .form-box h2 {
        font-family: Arial;
        text-align: center;
        margin-bottom: 25px;
      }

      .form-box div {
        padding-bottom: 30px;
      }

      .form-box div>input {
        width: 100%;
        padding: 15px 15px;
        margin: 5px 0;
        border: 1px solid rgb(194, 189, 189);
        border-radius: 4px;
        box-sizing: border-box;
      }

      .form-box div>label {
        font-family: Arial;
        font-size: 85%;
        font-weight: bold;
        color: rgb(85, 78, 78);
      }

      .form-box label[for="checkbox"] {
        font-family: Arial;
        font-size: 85%;
        color: green;
      }

      .form-box button {
        width: 100%;
        font-weight: bold;
        background-color: green;
        color: white;
        padding: 15px 20px;
        margin: 20px 0;
        border: none;
        border-radius: 4px;
      }

      .form-box button:hover {
        background-color: rgb(55, 167, 55);
      }

      @media screen and (max-width: 1000px) {
        .loginheadernav {
          top: 0.2%;
          left: 3%;
        }

        #logo {
          height: 80px;
          width: 230px;
        }
      }