:root {
  --main-font: 'Raleway', sans-serif;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.5px;
  --lightShadow: 3px 8px 3px 1px rgba(0, 0, 0, 0.5);
  --darkShadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5);
}

.ci {
  background-color: rgba(201, 200, 200, 0.205);
}

.headernav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 1%;
  left: 3%;
  z-index: 3;
  width: 95%;
}

.ci_cards {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 2rem;
}

.ci .card {
  /* background-color:rgba(206, 206, 206, 0.767); */
  /* color: #000; */
  /*  background-image: linear-gradient(#897b7b00, #e3e2e2d6); */
  background-color: #fff;
  border-radius: 2%;
  box-sizing: border-box;
  /* border: 1px solid #897b7b6f; */
  width: 295px;
  height: 475px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 20px;
  font-family: var(--main-font);
  /* transition: all 0.30s ease-in-out; */
}

.ci .card img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  border: 1px solid #897b7b6f;
}

@media screen and (max-width: 1000px) {
  .headernav {
    top: 0.1%;
    left: 3%;
  }

  #logo {
    height: 80px;
    width: 330px;
  }
  .headernav h1 {
    font-size: 25px;
  }
  .ci_cards {
    row-gap: 0px;
  }
}